<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.atguigu.mapper.EmployeeMapper">

    <!-- 查询使用 select标签
            id = 方法名
            resultType = 返回值类型
            标签内编写SQL语句
     -->
    <select id="selectEmployee" resultType="com.atguigu.pojo.Employee">
        <!-- #{empId}占位符+赋值 emp_id=? ?=赋值 不能替代表名、列名、关键字-->
        <!-- ${empId}字符串拼接 “emp_id=”+id xxx(columnName,columnValue)  小心注入攻击
        select * from 表 where ${columnName}=${columnValue}动态的值-->
        select emp_id empId,emp_name empName, emp_salary empSalary from
        t_emp where emp_id = #{empId}
<!--        select emp_id empId,emp_name empName, emp_salary empSalary from t_emp where emp_id = ?-->
    </select>
    <select id="queryById" resultType="com.atguigu.pojo.Employee">
        select emp_id empId,emp_name empName, emp_salary empSalary from
        t_emp where emp_id = ${empId}
<!--        select emp_id empId,emp_name empName, emp_salary empSalary from t_emp where emp_id = 1-->
    </select>
</mapper>